<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pugvine</title>
  <link rel="stylesheet" type="text/css" href="/pugvine.css">
</head>

<body>

<div class="wrap">
  <% if @name['results'].size == 0 %>
    <p class="novines">No vines for <%= @thing%>! Maybe check out some <a href="/look/pug">pugs</a>?</p>
  <% else %>
    <% if @name['results'].size < 9 %>
      <p class="morelink">No more :(</p>
    <% else %>
      <p class="morelink"><a href="/look/<%= @thing %>/<%= @page += 1 %>">MORE!!!</a></p>
    <% end %>

    <ul class="puglist">
      <%= erb(:_vidlist, :layout => false) %>
    </ul>
  <% end %>
</div>

</html>


