<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pugvine</title>
  <link rel="stylesheet" type="text/css" href="/pugvine.css">
</head>

<body>
<ul class="puglist">
<%= erb(:_vidlist, :layout => false) %>
</ul>

<a href="/look/<%= @thing %>/<%= @page += 1 %>">MORE!!!</a>
</html>


