<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="View awesome vines about whatever you want! Not officially affiliated with Vine.co" />
  <meta property="og:title" content="Whatevervine"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://www.whatevervine.com"/>
  <meta property="og:site_name" content="Whatevervine"/>
  <meta property="og:description" content="View awesome vines about whatever you want! Not officially affiliated with Vine.co"/>
  <title>Whatevervine</title>
  <link rel="stylesheet" type="text/css" href="/pugvine.css">
  <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=229075790489351";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<header class="header">
  <h1 class="h1"><a href="/"><%= @thing %>Vine</a></h1>
</header>
<div class="wrap">
   <%= yield %>
</div>
<footer class="footer">
<p>All videos from <a href="http://vine.co">Vine</a>. This site is just for fun, and not endorsed, affiliated with or approved by <a href="http://vine.co">Vine</a> in any way. Please don't sue me.</p>
<p>Hey, this is on <a href="https://github.com/sico/whatevervine">GitHub</a>.</p>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-130227-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>