.wrap {
  width: 915px;
  margin: 0 auto;
}

.puglist {

  width: 900px;
  margin: 40px auto;
  padding: 0;

  li {
    height: 300px;
    width: 300px;
    float: left;
    margin: 0;
    padding:0;
    list-style-type: none;
  }

  .pug-info {
    display: none;
  }
}

.morelink {
  clear: both;
  margin-top: 5px;
  font-size: 25px;
  text-align: right;
}

.novines {
  text-align: center;
  font-size: 20px;
}